{{key}}
{{time}}

<div>
  <label class="form-check-inline">
    Single
    <input class="form-check-input" type="radio" name="mode" [value]="false" (click)="clearKey2()" [(ngModel)]="edit.double">
  </label>
</div>
<div>
    Double
    <label class="form-check-inline">
      <input class="form-check-input" type="radio" name="mode" [value]="true" [(ngModel)]="edit.double">
    </label>
</div>

<input class="form-check-input" type="text" name="mode" placeholder="single edit bind" [disabled]="key" [(ngModel)]="key" (keypress)="setKey1($event)">
<input *ngIf="edit.double" class="form-check-input" type="text" placeholder="double edit bind" name="mode" [disabled]="key2" [(ngModel)]="key2" (keypress)="setKey2($event)">

<button (click)="reset()">Reset Key</button> {{subscribeTimer}}
<div>
  <button (click)="ready()">Ready</button>
</div>
<div>
  <button (click)="resetTest()">Reset</button>
</div>
<div>
  {{avg}}
</div>
<li *ngFor="let timer of timerArray | async">
  {{timer}}
</li>

<router-outlet></router-outlet>