<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">GHOULBOY</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="http://bit.ly/2KAN80z"><i style="font-size: 25px" class="icon-youtube-play"></i></a></li>
      <li><a href="https://twitter.com/notghoulboy"><i style="font-size: 25px" class="icon-twitter"></i></a></li>
      <li><a href="https://twitch.com/ghoulboy"><i style="font-size: 28px" class="fa fa-twitch"></i></a></li>    
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="http://bit.ly/2KAN80z">Youtube</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>     
  </div>
</nav>

<div (auxclick)="handleKeyboardEvent($event)"> 
  <div (mouseup)="handleKeyboardEvent($event)"> 
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br>
        <h1 class="header center orange-text">Think You Edit Fast?</h1>
        <div class="row center">
          <p style="font-size: 11px;">psstt! sub to ghoulboy on youtube</p>
          <div class="g-ytsubscribe" data-channelid="UCKw4ePK_d779b3xumQ-2bHA" data-layout="full" data-count="default"></div>
          <h5 class="header col s12 light">Are you Mongraal? Raider464? Psycho? Let's find out.</h5>
        </div>
        <div class="row center">
          <div class="m12 l6">
            <div class="ghoul-blue">Lil demo I whipped up for ya <span style="font-size: 10px;">(use full screen)</span></div>
            <iframe width="560" height="315" src="https://youtube.com/embed/osaUjD0B1ok" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="row">
          <div class="col m12 l6">
            <div class="card large z-depth-2-gb">
              <div class="card-content">
                <div class="card-title underline">
                  <span>Options</span>
                </div>
                <div class="row">
                    <li>Choose Single or Double Edits</li>
                    <li>Enter your fortnite edit bind</li>
                    <li>When set click 'Ready'</li>
                    <li>Set your hand like normal and test your edit click speed!</li>
                </div>
                <div action="#">
                  <p>
                    <label for="single">
                      <input id="single" name="group1" type="radio" value="1" (click)="clearKey2()" [(ngModel)]="edit" class="with-gap" />
                      <span class="black-text">Single</span>
                    </label>
                  </p>
                  <p>
                    <label for="double">
                      <input id="double" name="group1" type="radio" value="2" class="with-gap" [(ngModel)]="edit"/>
                      <span class="black-text">Double</span>
                    </label>
                  </p>
                  <p>
                    <label for="eor">
                      <input id="eor" name="group1" type="radio" value="3" class="with-gap" [(ngModel)]="edit"/>
                      <span class="black-text">Edit On Release <span *ngIf="edit == 3" class="red-text" style="font-size: 12px;">Keep the cursor in the box below when clicking!!</span></span>
                    </label>
                  </p>
                </div>
                <div class="row">
                  <div class="col s12">
                    <div class="row">
                      <div class="input-field col s6">
                        <i class="material-icons prefix">filter_1</i>
                        <input [disabled]="key" [(ngModel)]="key" name="key" (keypress)="setKey1($event)" id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">{{key ? '' : 'Single Edit Bind'}}</label>
                      </div>
                      <div *ngIf="edit == 2 || edit == 3" class="input-field col s6">
                        <i class="material-icons prefix">filter_2</i>
                        <input [disabled]="key2 || edit == 3" [(ngModel)]="key2" name="key2" (keypress)="setKey2($event)" id="icon_telephone" type="tel" class="validate">
                        <label for="icon_telephone">{{key2 ? '' : 'Double Edit Bind'}}</label>
                      </div>
                      <div action="#" *ngIf="edit == 2" class="col s4 offset-s7">
                        <label for="mb4">
                          <input id="mb4" name="group2" type="radio"  value="mouse button 4" [(ngModel)]="key2" class="with-gap"/>
                          <span class="black-text">mb4</span>
                        </label>
                        <label for="mb5">
                          <input id="mb5" name="group2" type="radio" value="mouse button 5" [(ngModel)]="key2" class="with-gap"/>
                          <span class="black-text">mb5</span>
                        </label>
                      </div>
                      <div action="#" *ngIf="edit == 3" class="col s4 offset-s7">
                        <label for="mb4">
                          <input id="mb4" name="group2" type="radio"  value="mouse 1" [(ngModel)]="key2" class="with-gap"/>
                          <span class="black-text">mouse 1</span>
                        </label>
                        <label for="mb5">
                          <input id="mb5" name="group2" type="radio" value="mouse 2" [(ngModel)]="key2" class="with-gap"/>
                          <span class="black-text">mouse 2</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-action">
                <div class="row center">
                  <button class="btn-large waves-effect waves-light" [ngClass]="isReady ? 'light-green' : 'light-blue lighten-1'" (click)="ready()">Ready</button>
                  <button class="btn-large btn-flat waves-effect waves-light" (click)="clearKeys()">Clear</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col m12 l6">
            <div class="card large z-depth-2-gb">
              <div class="card-content">
                  <div class="card-title underline col s11">Times (in seconds)</div>
                  <i class="material-icons prefix col s1" [ngStyle]="isReady ? {'color':'green'} : {'color':'orange'}">{{isReady ? 'play_arrow' : 'pause'}}</i>
                <div class="row">
                  <div class="col s6">
                    <blockquote>
                      <h5>Timer: {{counter}}</h5>
                      <h5>Average: {{avg | number:'1.1-5'}}</h5>
                  <span style="font-size: 12px" *ngIf="prevAvg | async as pavg">Saved Avg: {{pavg | number:'1.1-5' }}</span> 
                    </blockquote>
                  </div>
                  <div class="col s6">
                    <blockquote class="blockquote-gb">
                      <h5>Fastest: {{min}}</h5>
                      <h5>Slowest: {{max}}</h5>
                    </blockquote>
                  </div>
                </div>

                <div class="row">
                  <div *ngFor="let timer of timerArray | async" class="col s2">
                    {{timer}}
                  </div>
                </div>
              </div>
              <div class="card-action">
                <div class="row center">
                  <button class="btn-large waves-effect waves-light light-blue lighten-1" (click)="saveAvg()">Save Avg</button>
                  <button class="btn-large btn-flat waves-effect waves-light" (click)="resetData()">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="edit == 3">
        <div class="row">
          <div class="col s8 offset-s2">        
            <div class="card small" style="height: 350px;">
              <div class="card-content">
                <span class="card-title underline">Edit On Release Box</span>
                <div id="eorWindow" (contextmenu)="skipRightClick($event)" class="card small blue lighten-5" style="height: 275px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card large z-depth-2-gb">
          <div class="card-content">
            <span class="card-title underline">Times</span>
            <div id="chartContainer" style="height: 370px;"></div>
          </div>
        </div>   
      </div>
    </div>
  </div>
</div>
<div class="section no-pad-bot">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <div class="card medium z-depth-2-gb">
          <div class="card-content">
            <span class="card-title underline">Editing Video Placement</span>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/eCilywrgmNg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card medium z-depth-2-gb">
          <div class="card-content">
            <span class="card-title underline">Wana play like mongraal??</span>
            <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/3rvnpmeVhAM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="page-footer light-blue lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About GB</h5>
        <p class="grey-text text-lighten-4">
          Yoo thanks for checking this out! I love making content, pushing metas, finding mechanics, and furthering Fortnite as a whole! If you like this type stuff help me and fricken sub to youtube or drop a prime on twitch or your pump will do 20 headshot and you'll only get grey bursts forever
        </p>
      </div>
      <div class="col l3 s12">
        
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="http://bit.ly/2KAN80z"><i style="font-size: 25px" class="icon-youtube-play"></i> - Youtube</a></li>
          <li><a class="white-text" href="https://twitter.com/notghoulboy"><i style="font-size: 25px" class="icon-twitter"></i> - Twitter</a></li>
          <li><a class="white-text" href="https://twitch.com/ghoulboy"><i style="font-size: 28px" class="fa fa-twitch"></i> - Twitch</a></li>        
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3">GHOULBITCH LOL</a>
    </div>
  </div>
</footer>
<router-outlet></router-outlet>