/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

[type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:before,
 
[type="radio"].with-gap:checked + span:after {
 
  border: 2px solid #29b6f6;
 
}
 
 
 
[type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:after {
 
  background-color: #29b6f6;
}

.z-depth-2-gb {
  box-shadow: 0 4px 5px 0 rgba(17, 75, 101, 0.14), 0 1px 10px 0 rgba(17, 75, 101, 0.12), 0 2px 4px -1px rgba(17, 75, 101, 0.3);
}